<div class="cards-container px-8 mt-8 flex-col items-center md:flex-row">
  <div class="max-w-sm rounded overflow-hidden shadow-lg border">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Hotels</div>
      <p class="text-gray-700 text-base">
        Discover the perfect blend of comfort and luxury as you embark on your
        travel adventures. Our handpicked hotels offer a welcoming sanctuary,
        ensuring memorable stays wherever your journey takes you.
      </p>
    </div>
  </div>

  <div class="max-w-sm rounded overflow-hidden shadow-lg border">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Flights</div>
      <p class="text-gray-700 text-base">
        Experience the freedom of the skies and unlock a world of destinations
        with our seamless flight options. Let your wanderlust take flight, and
        explore the globe with convenience and style.
      </p>
    </div>
  </div>

  <!-- The "Member Rewards" card can be included like this -->
  <div class="max-w-sm rounded overflow-hidden shadow-lg border">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Member Rewards</div>
      <p class="text-gray-700 text-base">
        Elevate your travel experiences with our exclusive member rewards
        program. As a valued member, you'll enjoy special perks and benefits,
        making your journeys even more rewarding
      </p>
    </div>
  </div>
</div>
